<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Catalogo Livros</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/livro.css">
</head>
<body>
  <div class="container">
    <h1>CATALOGO DE LIVROS <i class="fas fa-book"></i></h1>    
    <!-- Ordenação -->
    <div class="order-fields">
      <label for="order-author">Ordenar por Autor:</label>
      <select id="order-author">
        <option value="asc">A-Z</option>
        <option value="desc">Z-A</option>
      </select>      
      <label for="order-year">Ordenar por Ano:</label>
      <select id="order-year">
        <option value="asc">Mais antigo primeiro</option>
        <option value="desc">Mais recente primeiro</option>
      </select>
    </div>
    <!-- Campo de busca -->
    <div class="search-field">
      <input type="text" id="search-input" placeholder="Buscar...">
      <button id="search-button"><i class="fas fa-search"></i></button>
    </div>   
    <!-- Exibir a paginação -->
    <div class="pagination">
      <% if (totalPaginas > 1) { %>
        <% if (pagina > 1) { %>
          <a href="/livros?pagina=<%= pagina - 1 %>">Anterior</a>
        <% } %>
        <% for (let i = 1; i <= totalPaginas; i++) { %>
          <a href="/livros?pagina=<%= i %>" class="<%= i === parseInt(pagina) ? 'active' : '' %>"><%= i %></a>
        <% } %>
        <% if (pagina < totalPaginas) { %>
          <a href="/livros?pagina=<%= parseInt(pagina) + 1 %>">Próxima</a>
        <% } %>
      <% } %>
    </div> <% if (usuarioLogado) { %>   
    <button id="add-book-button" onclick="window.location.href='/adicionar'"><i class="fas fa-plus"></i> Adicionar Novo Livro</button>
    <button id="export-pdf-button"><i class="fas fa-download"></i>PDF</button> 
    <% } %>
    <ul id="livros-lista">
      <% livros.forEach(function(livro) { %>
        <li>
          <img src="images/book.png">
          <p>Título: <%= livro.titulo %></p>
          <p>Autor: <%= livro.autor %></p>
          <p>Ano de Publicação: <%= livro.anoPublicacao %></p>
          <p>Editora: <%= livro.editora %></p>
          <% if (usuarioLogado) { %>
            <button class="editar-button" data-livro-id="<%= livro._id %>">Editar</button>
            <button class="excluir-button" data-livro-id="<%= livro._id %>">Excluir</button>
          <% } %>
        </li>
      <% }) %>
    </ul>    
  </div>  
  <footer>
    <p>© 2023 Projeto Web Ciclo 2. Todos os direitos reservados.</p>
  </footer>  
  <script src="/javascripts/deleteLivro.js"></script>
  <script src="/javascripts/ordenacaoLivros.js"></script>
  <script src="/javascripts/busca.js"></script>
  <script>const exportPDFButton = document.getElementById('export-pdf-button');
    exportPDFButton.addEventListener('click', () => {
      window.open('/pdf', '_blank');
    });
    </script>
</body>
</html>
